<div class="size-chart">
    <span class="visible-lg-block">LG</span>
    <span class="visible-md-block">MD</span>
    <span class="visible-sm-block">SM</span>
    <span class="visible-xs-block">XS</span>
</div>