<div class="page-header">
    <h1>Brown Bag III <small>Bootstrap and TypeScript</small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Useful Links</h2>
    </div>

    <div class="list-group">
        <a class="list-group-item" href="http://getbootstrap.com/" target="_blank">Bootstrap <i class="fa fa-external-link"></i></a>
        <a class="list-group-item" href="http://www.typescriptlang.org/" target="_blank">TypeScript <i class="fa fa-external-link"></i></a>
        <a class="list-group-item" href="http://definitelytyped.org/" target="_blank">DefinitelyTyped (type definitions) <i class="fa fa-external-link"></i></a>
        <a class="list-group-item" href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome <i class="fa fa-external-link"></i></a>
    </div>
</div>